<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items page</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<table>
    <tr>
        <td>NUMBER</td>
        <td>NAME</td>
        <td>STATUS</td>
    </tr>
    <tr th:each="item,stat : ${items}">
        <td>
            <span th:text="${stat.index + 1}"/>
        </td>
        <td>
            <span th:text="${item.name}"/>
        </td>
        <td>
            <span th:text="${item.status}"/>
        </td>
    </tr>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>